@import "tailwindcss";
@config "../tailwind.config.ts";

body {
  font-family: var(--font-montserrat);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-dark {
    scrollbar-color: #262626 #121212;
  }
  .scrollbar-light {
    scrollbar-color: #d9d9d9 #f9f9f9;
  }
}
